.table {
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

td.listItem {
    
    padding-right: 145px !important;
}

li.tableKey {
    padding-top: 40px !important;
    padding-right: 230px !important;
    display: inline;
    font-size: 28px;
}

li.imgKey {
    margin-right: -90px;
}

li.nameKey {
    margin-right: 40px;
}

li.emailKey {
    margin-right: 70px;
}